on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  python-black:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
           python-version: '3.x'
      - run: pip install black
      - run: black test/
      - run: git diff --exit-code || (echo "Please run black to reformat Python files" && false)

