on: [ push, pull_request ]

env:
  CFLAGS: -Werror -Wall -Wextra -Wno-error=sign-compare -Wno-unused-parameter

jobs:
  compile:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        compiler: [ gcc, clang ]
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Set up build environment / dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            xutils-dev xserver-xorg-dev libx11-dev libxi-dev \
            libxrandr-dev libxinerama-dev libudev-dev \
            ${{ matrix.compiler }}
          mkdir _build

      - name: Build the driver
        run: |
          pushd _build > /dev/null
          # We don't want our CFLAGS (especially -Werror) to apply at `configure`
          # time so short-circuit our environment at that moment and provide the
          # flags to `make` instead. Not doing so results in an incorrect config:
          # 'checking for rint in -lm... no' because of a builtin-declaration-mismatch
          # warning (error) in the auto-generated feature test.
          CFLAGS="" CC="${{ matrix.compiler }}" ../autogen.sh --disable-silent-rules
          make CFLAGS="$CFLAGS"
          popd > /dev/null

      - name: Run unit tests
        run: |
          pushd _build > /dev/null
          make check || (cat **/test-suite.log && false)
          popd > /dev/null

      - name: Run distcheck
        run: |
          pushd _build > /dev/null
          make distcheck
          popd > /dev/null
